.footer {
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #2196f3;
    color: white;
  }
}
